@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>
@*@model IEnumerable<ReserveStudent.Models.Administration>*@

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Adminstration">Add new role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="Delete" asp-route-id="@role.Id">
                    <a asp-controller="Adminstration" asp-action="Edit"
                       asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    <button type="submit" class="btn btn-danger">Delete</button>

                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="adminstration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}