@model ReserveStudent.Models.CreateReservationViewModel

@{
    ViewData["Title"] = "Create";
}



<h4>Create Reservation</h4>
<hr />

<div class="row  shadow-lg p-3 mb-5 bg-white rounded">
    
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group dropdown show">
                    <label asp-for="ReservationTypeId" class="control-label "></label>
                    @* @Html.DropDownListFor(q => q.AbsenceTypeId, new SelectList(Model.AbsenceTypes, "Value", "Text"), "Select Absence Type", new { @classe = "form-control col-6" })*@
                    <div>
                        <select style="width:340px;" class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-for="ReservationTypeId" asp-items="Model.ReservationTypes"></select>
                    </div>
                    <span asp-validation-for="ReservationTypeId" class=""></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Date" class="control-label"></label>
                    <input style="width:340px;" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="StudentReservations" class="btn btn-outline-info">Back to List</a>
                </div>
            </form>
        </div>
    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
